---
layout: default
---

<h1 class="text-center">Hello</h1>
<h2 class="text-center">I&rsquo;m Zeke <span class="fancy-y">Y</span></h2>

<h3>About</h3>
<p>
  I'm a Christian web developer and systems administrator. 
</p>

<h3>Code</h3>
<p>
  I keep my code on <a href="https://gitlab.com/zystvan">GitLab</a>, <a href="https://github.com/zystvan">GitHub</a>, and <a href="https://codepen.io/zystvan">CodePen</a>.
</p>

<h3>Blog</h3>
<ol>
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ol>

<p>
  <a href="/blog">More&hellip;</a>
</p>

<h3>Notable Achievements</h3>
<ul>
  <li>I've added several icons to Linux Mint: <a href="https://github.com/linuxmint/mint-y-icons/pull/16">Spotify</a>, <a href="https://github.com/linuxmint/mint-y-icons/pull/30">Shutter (panel icon)</a>, and <a href="https://github.com/linuxmint/mint-y-icons/pull/31">f.lux (panel icon)</a></li>
  <li>I've written code in Firefox to fix <a href="https://github.com/firefox-devtools/debugger/pull/2142">text alignment</a> and <a href="https://github.com/firefox-devtools/debugger/pull/2222">RTL text support</a> in the JS debugger</li>
  <li>I've been featured on the CodePen homepage 5 times. Some of my favorite pens are: <a href="https://codepen.io/zystvan/details/emQYge">CSS Parrot</a>, <a href="https://codepen.io/zystvan/details/uJbzk">Loader</a>, <a href="https://codepen.io/zystvan/details/pvxaoM">Drip animation</a>, and <a href="https://codepen.io/zystvan/details/rarREX">Falling Dominoes</a></li>
</ul>

<h3>Social</h3>
<p>
  You can contact me through email: <a href="mailto:zeke@zystvan.com">zeke@zystvan.com</a>.
</p>
