    <footer>
      Copyright {{ site.time|date: '%Y' }} Zeke <span class="fancy-y">Y</span>

      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
      </nav>
    </footer>

    {% if page.layout == "post" %}
      <link rel="stylesheet" href="/assets/syntax.css">
    {% endif %}
  </body>
</html>
