<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm a fullstack web developer and Codecademy forum moderator.">

    {% if page.title %}
      <title>{{ page.title }} &mdash; Zeke Y</title>
    {% else %}
      <title>Zeke Y, Web Developer</title>
    {% endif %}

    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="{{site.url}}{{ page.url }}">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="preload" href="/assets/fonts/bitter.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/fonts/bitter-bold.woff2" as="font" type="font/woff2">
  </head>
  <body>
