---
title: Blog Posts
layout: page
---

{% assign postCount = site.posts | size %}

{% if postCount == 0 %}
  <p>There are not any posts yet.</p>
{% else %}
  <ol reversed>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% endif %}

<a href="/feed.xml">Subscribe via RSS</a>
