---
layout: default
---

<h1 class="title border-bottom">
  {{ page.title }}

  {% if page.date %}
    <time datetime="{{ page.date }}" title="{{ page.date }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
  {% endif %}
</h1>

<article>
  {{ content }}
</article>
